<div class="grid-container">
    <h1>Projetos</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="assets/images/projetoNapoletta.png" style="max-height: 350px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Napolettá Pizzaria E-Commerce</h5>
                    <p class="card-text">Site de E-commerce feito para a pizzaria Napolettá, usando Angular, Spring boot
                        e PostgreSQL para a construção da sua API REST.</p>
                    <a target="_blank" href="https://github.com/RafaelFerreira18/Java-REST-api-napolettaPizza"
                        class="card-btn"><i class="fa-brands fa-github"></i> Repositório</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/images/projetoPerfume.png" style="max-height: 350px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Perfume E-Commerce API REST</h5>
                    <p class="card-text">API REST para um E-commerce de perfumes, construída em Spring boot e
                        PostgreSQL, contém um sistema de filtro por preços e por categoria em seus endpoints.</p>
                    <a target="_blank" href="https://github.com/RafaelFerreira18/Java-REST-Api-PerfumeEcommerce"
                        class="card-btn"><i class="fa-brands fa-github"></i> Repositório</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/images/projetoToDoList.png" style="max-height: 350px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">API REST para site To Do list</h5>
                    <p class="card-text">API REST para um projeto pessoal de site to do list, a api foi construída em
                        spring boot e PostgreSQL e o Spring Security para lidar com a questão de segurança.</p>
                    <a target="_blank" href="https://github.com/RafaelFerreira18/todo-list-spring-rest-api"
                        class="card-btn"><i class="fa-brands fa-github"></i> Repositório</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/images/projetoCalc.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aplicativo de calculadora de lixo</h5>
                    <p class="card-text">Aplicativo de calculadora de lixo produzido por semana em sua casa, feito em
                        Flutter como projeto pra faculdade,
                        o aplicativo usa o Firebase como banco de dados.</p>
                    <a href="https://github.com/RafaelFerreira18/trash_produced_calculator_app" target="_blank"
                        class="card-btn"><i class="fa-brands fa-github"></i> Repositório</a>
                </div>
            </div>
        </div>
    </div>
</div>