<div class="contact-container">
    <h1>Contato</h1>
    <div class="contact-links">
        <a target="_blank" href="mailto:rafabf18@gmail.com"><i class="fa-solid fa-envelope"></i>
            rafabf18&#64;gmail.com</a>
        <a target="_blank" href="https://www.linkedin.com/in/RafaelFerreira18/"><i class="fa-brands fa-linkedin-in"></i>
            linkedin.com/in/RafaelFerreira18</a>
        <a target="_blank" href="https://github.com/RafaelFerreira18"><i class="fa-brands fa-github"></i>
            github.com/RafaelFerreira18</a>
    </div>
</div>