<div class="about-card">
    <img src="../../../../assets/images/profile-pic (1).png" class="profile-pic" alt="">
    <div class="about-card-text-container d-block w-75">
        <h3>Sobre Mim</h3>
        <p>Olá, meu nome é Rafael Ferreira, tenho 20 anos e sou desenvolvedor fullstack. Desde 2022, venho me dedicando
            ao estudo de programação, com um foco especial no desenvolvimento web. Ao longo dessa jornada, explorei
            tanto o front-end quanto o back-end, desenvolvendo projetos pessoais em ambas as áreas.
            <br>
            <br>
            Atualmente, estou em busca de uma oportunidade de estágio, pois acredito que enfrentar os desafios do
            mercado de trabalho será fundamental para meu crescimento como desenvolvedor. Tenho a certeza de que a
            experiência prática me ajudará a solidificar minha base técnica e a expandir minhas habilidades,
            preparando-me para contribuir de maneira eficaz em projetos inovadores e desafiadores.
        </p>
        <div class="about-card-text-socials">
            <div class="socials-buttons">
                <a href="https://www.linkedin.com/in/rafaelferreira18/" target="_blank"><img
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
                        id="linkedinSvg" />Linkedin</a>
            </div>
            <div class="socials-buttons">
                <a href="https://github.com/RafaelFerreira18" target="_blank"><img
                        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />Github</a>
            </div>
        </div>
    </div>
</div>